Pablo_delaRosa_AE_U6.1/Ejercicio3/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="gestion_comercial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tienda" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombreTienda" type="xs:string"/>
              <xs:element name="ubicacion" type="xs:string"/> <xs:element name="empleado" type="xs:string" maxOccurs="unbounded"/>
              
              <xs:element name="catalogo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="movil" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="marca" type="xs:string"/>
                          <xs:element name="modelo" type="xs:string"/>
                          <xs:element name="fabricante" type="xs:string"/>
                          <xs:element name="precio" type="xs:string"/>
                          <xs:element name="fechaLanzamiento" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>