Pablo_delaRosa_AE_U6.1/Ejercicio5/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="agencia_alquiler">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="alquiler" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="oficina" type="xs:string"/>
              <xs:element name="empleado" type="xs:string"/>
              
              <xs:element name="cliente" type="xs:string"/>
              <xs:element name="dniCliente" type="xs:string"/>
              
              <xs:element name="vehiculo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="marca" type="xs:string"/> <xs:element name="modelo" type="xs:string"/> <xs:element name="matricula" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="fechaAlquiler" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>